<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dlt.member.dao.IMemberRepository">
	<resultMap id="member"
		type="com.project.dlt.member.model.MemberVO">
		<result property="userId" column="USER_ID" />
		<result property="userPw" column="USER_PW" />
		<result property="name" column="USER_NAME" />
		<result property="createdDate" column="CREATION_DATE" />
		<result property="email" column="USER_EMAIL" />
		<result property="address" column="USER_ADDRESS" />
		<result property="phone" column="USER_PHONE" />
	</resultMap>
	<select id="login" parameterType="string" resultMap="member">
		 SELECT * FROM MEMBERS WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
	</select>


</mapper>